doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{title}
  body

    .drop-files-container

    form(enctype="multipart/form-data" id="form")
     input(type="file" name="files[]" multiple="multiple")


    .medias-list
      ul

    .js--templates
      li.son
        div.close-audio
          span close
        audio(controls preload="auto")
          source()
        p.caption
        div.options-button
          div.loop
            span loop
          div.speed
            input(id="speed-slider" type="range" min="0.25" max="3" step="0.25"  value="1")
            span.speedValue 1
          div.speed
            input(id="volume-slider" type="range" min="0" max="1" step="0.1"  value="1")
            span.volumeValue 1
            


    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.min.js')
    script(src='/js/libs/jquery.ui.touch-punch.min.js')
    script(src='/bower_components/foundation/js/foundation.min.js')


    script(src='/js/index.js')


