doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{title}
  
  body(data-page='index')
    header
      a(href="/")
        h1 Tool for Awesome Radio Shows

    div.container
      div.left-part
        div.add-new-mix-wrapper
          h2 Ajouter une table de mixage
          form(onsubmit='return false;' class='add-new-mix-form')
            input(type="date" class="date" placeholder='Date')
            input(type="text" class="titre" placeholder='Titre')
            input(type="text" class="auteur" placeholder='Auteur(s)')
            input(type='submit' class='js-add-mix' value='Ajouter')
      div.right-part
        h2 Liste des tables de mixage existantes
        ul.dossier-list
          

    .js--templates
      li.dossier(data-nom)
        .dossier-inside
          .content
            a.folder-link(href title)
              h3.title
          .meta-data
            .date
              h4 date&nbsp;:
              span
            .auteur
              h4 auteur&nbsp;:
              span

    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.min.js')
    script(src='/js/libs/jquery.ui.touch-punch.min.js')
    //- script(src='/bower_components/foundation/js/foundation.min.js')


    script(src='/js/index.js')


